# A example database URL to connect to a TiDB cluster from macOS:
# mysql+pymysql://<PREFIX>.root:<PASSWORD>@gateway01.<REGION>.prod.aws.tidbcloud.com:4000/test?ssl_ca=/etc/ssl/cert.pem&ssl_verify_cert=true&ssl_verify_identity=true
TIDB_DATABASE_URL="mysql+pymysql://<USER>:<PASSWORD>@<HOST>:4000/<DATABASE>?ssl_ca=<CA_PATH>&ssl_verify_cert=true&ssl_verify_identity=true"
